@import 'generales.css';
#edicion-publicacion {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#edicion-publicacion 
.icono-opcion-publicacion{
    border-radius: 50px;
    color: white;
    height: 22px;
    width: 22px;
    padding: 13px;
    cursor: pointer;
}

/* icono manito en publicaciones */
#edicion-publicacion 
#opcion-publicacion-hand{
    background: var(--primary);
    cursor: pointer;
}
#edicion-publicacion 
#opcion-publicacion-hand:active{
    background: var(--primaryShadow);    
    cursor: pointer;
}

/* icono eliminar publicacion */
#edicion-publicacion 
#opcion-publicacion-trash{
    background: var(--alert);
    cursor: pointer;
}
#edicion-publicacion 
#opcion-publicacion-trash:active{
    background: var(--alertShadow);    
    cursor: pointer;
}