@import 'generales.css';

/* Genéricos para toda esta página */

#contenedor-login a{
    color: var(--primary);
    font-size: 0.85rem;
}

#contenedor-login h1 {
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    width: 100%;
    font-size: 3.4rem;
}
#contenedor-login h2 {
    margin-top: 55px;
}

/* Contenedores */
#contenedor-login{
    height: 100vh;
    text-align: center;
}
    #contenedor-login .contenedor-logo {
        width: 550px;
    }
    #contenedor-login .formulario-login {
        width: 370px;
        height: 500px;
    }
        .contenedor-inputs{
            margin: 0px 30px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .contenedor-inputs a{
                margin-top: 10px;
                width: 250px;
            }
            .contenedor-inputs button{
                margin-top: 20px;
            }
            .contenedor-inputs input {
                margin-top: 15px;
                padding: 0px 15px;
            }

    #contenedor-login .contenedor-links {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


/* Independientes */
#contenedor-login .linea-horizontal { /* Los estilos generales en el generales.css */
    width: 100%;
    margin-top: 30px;
}

