@import 'generales.css';
@import 'modal.css';

/* --------- Estructura: maquetado de divs, etc --------- */

#lista-solicitudes {
    min-height: 150px;
    max-height: 500px;
    height: auto;
    width: 550px;
    z-index: 300;
    overflow: auto;
}

#lista-soliciudes #lista-solicitudes-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#lista-solicitudes ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

#lista-solicitudes-botonera {
    margin-right: 30px;
}

/* --------- Generales: más de 1 elemento --------- */

#lista-solicitudes ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* --------- Independientes: 1 elemento --------- */

#lista-solicitudes ul li p {
    width: 300px;
    font-weight: bolder;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#lista-solicitudes ul li button {
    width: 120px;
    height: 30px;
    font-size: 14px;
    margin-right: 5px;
}

#lista-solicitudes #eliminar-solicitud {
    width: 30px;
    background-color: var(--inactive);
}

#lista-solicitudes #eliminar-solicitud:active {
    background-color: rgb(194, 0, 0);
    color: white;
}

#lista-solicitudes #mensaje {
    text-align: center;
}

#lista-solicitudes a {
    margin-right: 18px;
}